<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758770823766-8ae43er5ef38n879cutqhjomhb59i3ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758770823766-8ae43er5ef38n879cutqhjomhb59i3ml</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>758770823766-huqjhbk01450phngji2ich15dhagcigl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDLWdY_zX-Sc9CcToVVzSe4FefIJUrsXg</string>
	<key>GCM_SENDER_ID</key>
	<string>758770823766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffee.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>coffee-eb396</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-eb396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758770823766:ios:7a192370aa0dbdb0cc01f7</string>
	<key>DATABASE_URL</key>
	<string>https://coffee-eb396-default-rtdb.firebaseio.com</string>
</dict>
</plist>